:root {
  --color-bg: #282c34;

  /* Texts*/
  --color-text-primary: #fff;

  /* Links */
  --color-link-primary: #61dafb;
  --color-link-primary-hover: slategrey;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a {
  color: var(--color-link-primary);
  text-decoration: underline;
}

a:hover {
  color: var(--color-link-primary-hover);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
